@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap');
body{
	margin: 0;
	padding: 0;
	font-family: 'DM Mono', monospace;
}

/* HEADER */
header{
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #EAC926;;
}
header nav div{
	width: 155px;
}
nav {
	padding-top: 15px;
	overflow: hidden;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 8px;
}
.input_i{
	background-color: #ffff;
	height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
}
header nav input[type=text] {
  	font-size: 15px;
  	width: 126px;
  	padding: 0;
  	text-align: center;
  	border: none;
}
input:focus{
    outline: none;
}
.iconos{
	display: flex;
	flex-direction: column;
	padding-bottom: 15px;
}
.iconos h3 {
	font-size: 12px;
	display: flex;
    justify-content: center;
    font-weight:normal;
    margin-top: 32px;
}
.iconos h3 i{
	margin-right: 7px;
}
.iconos .burguer {
	display: flex;
    justify-content: center;
    color: white;
    background-color: #03264C;;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    margin: auto;
    border-radius: 6px;
    font-size: 20px;
    margin-top: 10px;
}
header .iconos nav{
	display: flex;
	flex-direction: column;
}
.iconos nav ul{
	padding: 0;
	list-style-type: none;
}
.iconos nav ul li a{
	text-decoration: none;
    color: #000000;
}

/* MAIN*/
main{
	background-color: #ebebeb;
	display: flex;
    margin: auto;
    flex-direction: column;
    border-bottom: 20px solid #ebebeb;
}
main div img{
	width: 100%;
}
article{
	background-color: #ffff;
}
section{
	display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
}
main section h2{
	font-size: 24px;
	color: #666;
	text-align: center;
}
section article img{
	width: 90%;
	display: block;
	margin: auto;
}
.camion{
	display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}
.camion i{
	padding: 10px;
    border: 2px solid;
    border-radius: 29px;
}
.informacion_precio{
	display: flex;
    justify-content: space-around;
    align-items: center;
}
article i{
	color: #39b54a;
}
.precio{
	font-size: 18px;
	color: #000000;
}
article div p{
	font-size: 16px;
	color: #39b54a;
}
h5{
	font-size: 16px;
}

/* FOOTER */
footer{
	display: flex;
	flex-direction: column;
	background: #ebebeb;
    padding: 6px;
}
footer ul{
	background-color: #ffff;
	margin: 0;
    padding: 0;
}
li{
	display: flex;
    flex-direction: column;
    text-align: center;
}
.primero{
	margin-top: 64px;
}
footer ul li i{
	color: #1259c3;
}
h6{
	margin: 15px 0px 7px;
	color: #666;
	font-size: 16px;
    font-weight: bold;
}
footer ul li p{
	font-size: 12px;
	color: #666;
	margin: 0px 0px 70px;
}
